Month name,salary date,bonus date
January,Tue Jan 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Jan 18 2023 00:00:00 GMT+0100 (Central European Standard Time)
February,Tue Feb 28 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Feb 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
March,Fri Mar 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Mar 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
April,Fri Apr 28 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Apr 19 2023 00:00:00 GMT+0100 (Central European Standard Time)
May,Wed May 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Mon May 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
June,Fri Jun 30 2023 00:00:00 GMT+0100 (Central European Standard Time),Thu Jun 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
July,Mon Jul 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Jul 19 2023 00:00:00 GMT+0100 (Central European Standard Time)
August,Thu Aug 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Tue Aug 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
September,Fri Sep 29 2023 00:00:00 GMT+0100 (Central European Standard Time),Fri Sep 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
October,Tue Oct 31 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Oct 18 2023 00:00:00 GMT+0100 (Central European Standard Time)
November,Thu Nov 30 2023 00:00:00 GMT+0100 (Central European Standard Time),Wed Nov 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
December,Fri Dec 29 2023 00:00:00 GMT+0100 (Central European Standard Time),Fri Dec 15 2023 00:00:00 GMT+0100 (Central European Standard Time)
